<% content_for :jquery do %>
    var counter = 0
    $('[data-toggle="popover"]').popover();
    $('img').click(function(){
      counter +=1
      <!-- console.log(counter) -->
      movie_id = $(this).attr('id')
      movie_title = $(this).attr('alt')
      movie_pic = $(this).attr('src')
      <!-- $(this).addClass('unclick') -->

      $.ajax({
       url:"/users/carts",
       data:{
         movie_id:movie_id,
         movie_title:movie_title,
         movie_pic:movie_pic
        
     },
        type: 'POST',
       success: function(res){
       
         $("#user_cart").html(res.movie_list);
     }

   })
   return false;

     
    });
<% end%>
<div class="container">
  <h1>Please pick your favorite movies</h1>
  <div class="row col-sm-8">
    <% if $counter >=2%>
  <form action="/apis/top_moive/prev" method="get" class='col-sm-2'>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <input type="submit" class="btn btn-primary" value="previous movie page">
  </form>
  <%end%>
  <form action="/apis/top_moive/next" method="get" class='col-sm-2'>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
    <input type="submit" class="btn btn-primary" value="next movie page">
  </form>
</div>
  <% if  $movies %>
    <div class="row">
      <div class="col-sm-8" >
        <% $movies['results'].each do |m| %>
          <div class="col-sm-6">
            <h3><%=m['title']%></h3>
            <a href="#" data-toggle="popover" data-html ='true' title="<h4>Movie Overview</h4>" data-placement="bottom" data-trigger="hover" data-content="<p><%=m['overview']%></p>">
              <img src='http://image.tmdb.org/t/p/w500<%= m['poster_path'] %>' alt="<%=m['title']%>"width="300" id="<%=m['id']%>"/>
            </a>
          </div>
        <%end%>
      </div>
      <div class="row col-sm-4">
        <h4>Your movies</h4>
        <form id='user_cart' action="/users/carts" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
          <input type="submit" value="set" class='btn btn-success '>
        </form>
      </div>
    </div>
  <%end %>
</div>
